<div class="title">
  <div>
    <img src="{{detail.imgUrl}}" alt="">
  </div>
  <div class="content">
    <p style="font-weight: bold">{{detail.title}}</p>
    <p style="font-size: small">{{detail.category}}</p>
    <div class="rate-mini">
      <div *ngFor="let rate of detail.rate">
        <mat-icon [ngStyle]="{'color': rate.black ? '#e6ebf1':'darkorange'}">{{rate.name}}</mat-icon>
      </div>
    </div>
    <mat-divider></mat-divider>
    <p class="price">PRICE: $ {{detail.price}}</p>
  <div class="number">
    Number:
    <button mat-mini-fab  color="accent">
      <mat-icon (click)="remove()">remove</mat-icon>
    </button>
    <input type="text" value="{{num}}">
    <button mat-mini-fab color="accent" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
    <div class="add-to">
      <button mat-flat-button color="primary">ADD TO CART</button>
      <button mat-flat-button color="primary">BUY IT NOW</button>
    </div>
    <mat-divider></mat-divider>
    <div class="spec">
      <p>
        {{this.description}}
      </p>

    </div>
  </div>
</div>

<div class="comment">
  <mat-divider></mat-divider>
  <div>
    <p style="display: block;background: cadetblue">comment
    </p>
  </div>
</div>
