<div class="title">
  <div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
  </div>
  <div class="content">
    <p>Name,this is a...Name</p>
    <div class="rate-mini" style="color: darkorange">
      <div>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon>grade</mat-icon>
        <mat-icon style="color: #e6ebf1">grade</mat-icon>
      </div>
    </div>
    <mat-divider></mat-divider>
    <p class="price">PRICE: $ 200.00</p>
  <div class="number">
    Number:
    <button mat-mini-fab  color="accent">
      <mat-icon>remove</mat-icon>
    </button>
    <input type="text" value="1">
    <button mat-mini-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>
    <div class="add-to">
      <button mat-flat-button color="primary">ADD TO CART</button>
      <button mat-flat-button color="primary">BUY IT NOW</button>
    </div>
    <mat-divider></mat-divider>
    <div class="spec">
      <p>
        North Spore's Immunity Blend tincture is made from mushroom fruiting body extracts, rather than mycelium grown on grain, for maximum health benefits.
      </p>
      <p>
        The Immunity Blend tincture consists of the following four mushrooms, all with immune system boosting qualities: Chaga (Inonotus obliquus), Reishi (Ganoderma tsugae), Shiitake (Lentinula edodes), and Hen of the Woods (Grifola frondosa).
      </p>
    </div>
  </div>
</div>

<div class="comment">
  <mat-divider></mat-divider>
  <div>
    <p>
      comment
    </p>
    <p>
      coment
    </p>
    <p>
      coment
    </p>
    <p>
      coment
    </p>
  </div>
</div>
