
<div class="container">
  <div class="option">
    <mat-form-field appearance="fill">
      <mat-label>sort</mat-label>
      <mat-select>
        <mat-option *ngFor="let option of options" [value]="option">
          {{option}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-drawer-container style="display:block;min-height: 80vh">
    <mat-drawer  mode="side" opened>
      <div class="price">
        <h2>Price</h2>
      <mat-form-field>
        <mat-label matPrefix>$</mat-label>
        <input matInput  type="text">
      </mat-form-field>
      <mat-form-field>
        <mat-label matPrefix>$</mat-label>
        <input matInput type="text">
      </mat-form-field>
      <button mat-mini-fab color="accent">
        <mat-icon>check</mat-icon>
      </button>
    </div>
      <div class="rate">
        <h2>Rate</h2>
        <div class="rate-mini" style="color: darkorange">
       <div>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
         <mat-icon>grade</mat-icon>
       </div>
          <button>up</button>
        </div>
        <div class="rate-mini" style="color: darkorange">
          <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
          </div>
          <button>up</button>
        </div>
        <div class="rate-mini" style="color: darkorange">
          <div>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon>grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
            <mat-icon style="color: #e6ebf1">grade</mat-icon>
          </div>
          <button>up</button>
        </div>
      </div>
    </mat-drawer>
    <mat-drawer-content>

      <mat-card routerLink="/detail" *ngFor="let detail of details" class="example-card"  >
        <mat-card-header>
          <mat-card-title>{{detail.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{detail.imgUrl}}" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <div class="price"><p>price:</p><h2>${{detail.price}}</h2></div>
          <div class="card-rate" style="color: darkorange">
            <div>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon style="color: #e6ebf1">grade</mat-icon>
            </div>
          </div>
        </mat-card-content>
     <!--   <mat-card-actions>
          <button mat-flat-button color="accent">buy</button>
        </mat-card-actions>-->
      </mat-card>
    </mat-drawer-content>

  </mat-drawer-container>
</div>


