<mat-toolbar color="primary">

  <mat-toolbar-row class="first-row">
    <img src="./assets/servlet.png"/>
    <span style="font-family: cursive;">Puppies</span>

    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
    <div>
      <button  mat-button *ngFor="let category of categoryList" routerLink="/orders">
        {{category}}</button></div>
    <div class="search">
      <input matInput type="search"  [(ngModel)]="value">
      <button mat-button routerLink="/orders">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <button mat-button>
      <mat-icon>person</mat-icon>
    </button>
    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
    </button>

  </mat-toolbar-row>

</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div><span>
  contact
</span>
    <p></p></div>
  <div><span>
  copyright
</span>
    <p></p></div>
  <div>
    <span>
  read me
</span>
    <p></p>
  </div>
