.mat-toolbar{
  height: 70px;
  width: 100%;
  display: flex;
  flex-flow: row;

}
mat-select{
  color: white;
  width: 50px;
}
.mat-toolbar-row.first-row{
  box-shadow: 0 2px 5px #000;
  height:100%
}
.first-row img{
  height:50px;
  margin:0 10px;
}
.mat-icon-button{
  font-size: 20px;
  line-height: 100%;
  vertical-align: text-bottom;
}

.search{
  display: flex;
  flex-flow: row;
  background-color: white;
  border: white solid 5px ;
  border-radius:5px;
  margin: auto;
}
.search input{
  font-size: large;
  color: #24292e;
  overflow: hidden;
  border: white;
}
.mat-icon {
  transform: scale(1.5);
}
.footer {
  height:200px;
  background-color:#303030;
  width:100%;
  display: flex;
  flex-flow:row wrap;
  justify-content: center;

}
.footer p{
  color:wheat;
  font-size: 20px;
  margin:30px;
}

