<mat-toolbar color="primary">
  <mat-toolbar-row class="first-row">
        <span>Title</span>
        <div class="search">
          <input matInput type="search"  [(ngModel)]="value">
          <button mat-button routerLink="/orders">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <button mat-button>
            <mat-icon>login</mat-icon>
          </button>
        <button mat-button>
            <mat-icon>shopping_cart</mat-icon>
          </button>

  </mat-toolbar-row>
  <mat-toolbar-row class="second-row">
    <button mat-button routerLink="/">Home</button>
    <button mat-button [mat-menu-trigger-for]="category">category</button>
    <mat-menu #category="matMenu" class="category">
      <!--(click)="drawer.toggle()"-->
      <button mat-menu-item *ngFor="let category of categoryList" routerLink="/orders">
        {{category}}</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>


