<app-swiper></app-swiper>
  <div class="course">
    <div routerLink="/orders" class="example-card">
      <div class="imgBox">
        <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div class="img-tip">category-A</div>
      </div>
    </div>
    <div routerLink="/orders" class="example-card">
      <div class="imgBox">
        <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div class="img-tip">category-B</div>
      </div>
    </div>
    <div routerLink="/orders" class="example-card">
      <div class="imgBox">
        <img  src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <div class="img-tip">category-C</div>
      </div>
    </div>
  </div>
